#root {
  /* ROOT */
}

/* NAVIGATION TOP SECTION */
nav {
  position: relative;
  z-index: 1000;
  background-color: var(--white);
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  list-style-type: none;
  gap: 2em;
}

.cta {
  all: unset;
  color: var(--white);
  background-image: linear-gradient(30deg, var(--cyan400), var(--green500));
  border-radius: 10em;
  padding-inline: 2rem;
  padding-block: 1rem;
}

#hero_section {
  padding-block: 10rem 20rem;
  background-size: 70vw;
  background-repeat: no-repeat;
  background-position-x: 150%;
  background-position-y: -300px;
  background-image: url("./images/bg-intro-desktop.svg");
  position: relative;
}

#hero_section img.mockup {
  position: absolute;
  right: -150px;
}
