@import url("./main.css");

@font-face {
  font-display: swap;
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
}

:root {
  --yellow: #f4d04e;
  --grey-950: #111111;
  --grey-500: #6b6b6b;
  --white: #ffffff;
}

html {
  font-size: 16px;
  font-family: "Figtree", sans-serif;
}

body {
  margin: 0;
  background-color: var(--yellow);
}
