@import "./main.css";
@import "./active.css";
@import "./mobile.main.css";

/* outfit-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/outfit-v15-latin-300.woff2") format("woff2");
}

/* outfit-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/outfit-v15-latin-regular.woff2") format("woff2");
}

/* outfit-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/outfit-v15-latin-600.woff2") format("woff2");
}

* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

:root {
  --blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --shadow: hsl(0, 0, 0);
}

html {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--main-bg);
}
